<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Todo</title>
<style type="text/css">
.button{
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 800;
    border-radius: .25rem;
    text-decoration: none;
}
</style>

<script type="text/javascript">
document.getElementById("passw").focus(); 
</script>

<script type="text/javascript">
document.children[0].children[1].children[0].children[0].focus()
</script>
</head>
<body style="">
<form style="margin:auto;display:table;" action="/add" method="post">
    <input id="passw" name="pass" placeholder="TODO" style="font-size:120%;">
    <button type="submit" class="button" style="background: #fff;color: black;">
        Add
    </button>
</form>
<hr>
{% for todo in todo_list %}
    <div style="margin:auto;display:table;">
        
        {% if todo.complete %}
            <a href="/{{ todo.id }}" style="text-decoration:none;">
                <strong style="color:#00a600;font-size:120%;">{{ todo.title }} </strong>
                
                <strong style="background:#4f0;color:#e00;" class="button">Undone</strong>
            </a>

            <a href="/del/{{todo.id}}" class="button" style="color: #fff;background-color:#4f0;">
                Delete</a>
        {% else %}
            <a href="/{{ todo.id }}" style="text-decoration:none;">
                <strong style="color:#ff006c;font-size:120%;">{{ todo.title }}</strong>
                
                <strong style="background:#ff006c;color:#fff;" class="button">Done</strong>
            </a>

            <a class="button" style="color:#fff;background-color:#828282;user-select:none;">
                Delete</a>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>